
pre {
	font-family: monospace;
	color: #000000;
	background-color: #ffffff;
}

arm.body {
	color: #ffffff;
	background-color: #000000;
}

/* registers */
.Type {
	color: #40567a;
	font-weight: bold;
}

/* comments */
.Comment {
	color: #630b0b;
}

/* immediate values */
.Constant {
	color: #007fff;
}

/* address labels */
.Identifier {
	color: #778593;
	font-weight: bold;
}

/* mnemonic / instructions */
.Statement {
	color: #000000;
	font-weight: bold;
}

/* preprocessor directives */
.PreProc {
	color: #4d4d4d;
}

table#t01 {
	width: 100%;
}

table#t02 {
	width: 40%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1px;
	text-align: left;
	vertical-align: top;
}

table#t01 tr:nth-child(even) {
	background-color: #eee;
}

table#t01 tr:nth-child(odd) {
	background-color: #fff;
}

table#t01 th {
	background-color: black;
	color: white;
	text-align: left;
}

table#t02 tr:nth-child(even) {
	background-color: #eee;
}

table#t02 tr:nth-child(odd) {
	background-color: #fff;
}

table#t02 th {
	background-color: black;
	color: white;
}

ol li {
	display: block;
}

ol {
	list-style: none;
}

ol > li:first-child {
	counter-reset: item;
}

/* reset counter */
ol > li {
	counter-increment: item;
}

/* increment counter */
ol > li:before {
	content: counters(item, ".") ". ";
}

/* print counter */
